:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --beige: #dfdfd5;
  --rose: #d6c8d9;
  --emerald: #8bc8b6;
  --beige-dark: #a7a79d;
  --rose-dark: #988d9a;
  --emerald-dark: #6a9a8c;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bg-beige {
  background-color: #dfdfd5;
}

.bg-rose {
  background-color: #4b464c;
}

.bg-emerald {
  background-color: #8bc8b6;
}

.btn-outline-custom {
  border-color: var(--emerald);
  color: var(--emerald);
}

.btn-custom {
  background-color: var(--emerald);
  border-color: var(--emerald);
  color: #101010;
}

.btn-custom:hover {
  background-color: var(--emerald-dark);
  border-color: var(--emerald-dark);
  color: #ffffff;
}
